*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

body{
  background: #fff;
}
/*header*/
.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/*header*/

/*titulo*/
.wrapper .header .header-menu .title{
  color: #e0ac1c;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
}
.wrapper .header .header-menu .title span{
  color: #edf0f1;
}
/*titulo*/

/*hamburguesa*/
.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #1b83d8;
}
/*hamburguesa*/

/*lista-contenedora*/
.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
font-family: "Montserrat", sans-serif;
font-weight: 500;
color: #edf0f1;
text-decoration: none;
float: right;
margin-right: 40px;
margin-left: 20px;
padding: 9px 25px;
background-color: #0066BB;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.wrapper .header .header-menu ul li a:hover{
  background: #1b83d8;
}
/*lista-contenedora*/

.wrapper .sidebar{
  z-index: 1;
  background: #2F323A;
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
  background: #3498DB;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
  background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 250px);
  margin-top: 70px;
  margin-left: 250px;
  padding: 15px;
  background: url("https://cdn-3.expansion.mx/49/32/8f14e8dc4b659926ca959318781f/edificios-siniestros-matthew-henry-15558-unsplash.jpg")no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 0.3s;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding-left: 3px;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}



table {
width: 100%;
border: 1px solid #0066BB;
border-collapse: collapse;
caption-side: top;
}
th, td {
text-align: left;
vertical-align: top;
padding: 0.3em;
border: 1px solid #989b9e;
}
caption {
text-align: center;
color: #fff;
background: #22242A;
}
th {
background: #2F323A;
font-family: 'Courier New', Courier, monospace;font-weight: bolder;font-size:large;
color: #bbb;
}
td {
background: #2F323A;
font-size: medium;
color: rgb(233, 233, 233);
}
td > .activo {
  background: #2F323A;
  font-size: medium;
  color:#648f24;
  }
.cancelado
{
color: lightsalmon;
}
.inactivo
{
color: lightgray;
}




      