* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

body
{
  background-color: #f3ede7;

}

/*barra de navegacion */
            header {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              padding-left:3%;
              padding-top: 3px;
              padding-bottom:3px;
              background-color: #24252a;
              text-align: center;
            }
            .left_area
            {
              margin-right: auto;
              margin-left: 10px;
            }
            .left_area h3{
              color: #e0ac1c;
              margin: 0;
              text-transform: uppercase;
              font-size: 22px;
            }
            
            .left_area span{
              color: #edf0f1;
            }

            .logo {
              height: 4%;
              width: 4%;
            }

            .slider{
              width: 100%;
              height: 550px;
              overflow: hidden;
            }
            .slider ul{
                display: flex;
                animation: cambio 20s infinite alternate linear;
                width: 400%;
            }
            .slider li{
                width: 100%;
                list-style: none;
            }
            .slider img{
                width: 100%;
                height: 75%;
            }
            @keyframes cambio{
                0%{margin-left: 0;}
                20%{margin-left: 0;}
                
                25%{margin-left: -100%;}
                45%{margin-left: -100%;}
                
                50%{margin-left: -200%;}
                70%{margin-left: -200%;}
                
                75%{margin-left: -300%;}
                100%{margin-left: -300%;}
            }

            @media only screen and (min-width:320px) and (max-width:768px){
            .slider, .slider ul, .slider img{
                height: 100vh;
            }
            }
            .nav__links {
              list-style: none;
              display: flex;
            }

            .nav__links a,
            .cta,
            .overlay__content a {
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              color: #edf0f1;
              text-decoration: none;
            }

            .nav__links li {
              padding: 0px 20px;
              margin-top: 16px;
            }

            .nav__links li a{
              transition: all 0.3s ease 0s;
            }

            .nav__links li a:hover {
              color: #0066BB;
            }


            .cta {
              margin-left: 20px;
              padding: 9px 25px;
              background-color: #0066BB;
              border: none;
              border-radius: 50px;
              cursor: pointer;
              transition: all 0.3s ease 0s;
            }

            .cta:hover {
              background-color: #13a7cc;
            }

/* nav para moviles*/

            .menu {
              display: none;
            }

            .overlay {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              left: 0;
              top: 0;
              background-color: #24252a;
              overflow-x: hidden;
              transition: all 0.5s ease 0s;
            }

            .overlay--active {
              width: 100%;
            }

            .overlay__content {
              display: flex;
              height: 100%;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

            .overlay a {
              padding: 15px;
              font-size: 36px;
              display: block;
              transition: all 0.3s ease 0s;
            }

            .overlay a:hover,
            .overlay a:focus {
              color: #0088a9;
            }
            .overlay .close {
              position: absolute;
              top: 20px;
              right: 45px;
              font-size: 60px;
              color: #edf0f1;
              cursor: pointer;
            }

            @media screen and (max-height: 450px) {
              .overlay a {
                font-size: 20px;
              }
              .overlay .close {
                font-size: 40px;
                top: 15px;
                right: 35px;
              }
            }

            @media only screen and (max-width: 800px) {
              .nav__links,
              .cta {
                display: none;
              }
              .menu {
                display: initial;
              }
            }
            

/*login*/
            .loginbox {
              margin-top: 58%;
              width: 320px;
              height: 420px;
              background: #24252a;
              color: #fff;
              top: 50%;
              left: 50%;
              position: absolute;
              transform: translate(-50%, -50%);
              box-sizing: border-box;
              padding: 70px 30px;
            }

            .avatar {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              position: absolute;
              top: -10%;
              left: calc(50% - 50px);
            }

            h1 {
              margin: 0;
              padding: 0;
              text-align: center;
              font-size: 18px;
              margin-bottom: 20px;
            }

            .loginbox p {
              margin: 0;
              padding: 0;
              font-weight: bold;
              font-size:15px;
            }

            .loginbox input {
              width: 100%;
              margin-bottom: 20px;
            }

            .loginbox input[type = "text"], input[type = "password"] {
              border: none;
              border-bottom: 1px solid #edf0f1;
              background: transparent;
              outline: none;
              height: 40px;
              color: #edf0f1;
              font-size: 13px;
            }

            .loginbox input[type = "submit"] {
              border: none;
              outline: none;
              height: 40px;
              background: #0066BB;
              color: #fff;
              font-size: 18px;
              border-radius: 20px;
            }

            .loginbox input[type = "submit"]:hover {
              cursor: pointer;
              background: #13a7cc;
              color: #000;
            }

            .loginbox a {
              text-decoration: none;
              font-size: 12px;
              line-height: 20px;
              color: #edf0f1;
            }

            .loginbox a:hover {
              color: #fff;
            }


/*tarjetas*/

            .cards{
              display: grid;
              grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
              padding: 20px;
              grid-gap: 40px;
            }
            .card{
              background-color: #2F2B36;
            }
            .container{
              position: relative;
            }
            img{
              width: 100%;
              display: block;

            }
            .container:after{
              content: "";
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;

              opacity: 0.7;
            }
            .card1>.container:after{
              background-image: linear-gradient(
                  135deg,
                  #3b3627,
                  #1c1b29
              );
            }
            .details{
              padding: 20px 10px;
            }
            .details>h3{
              color: #ffffff;
              font-weight: 600;
              font-size: 18px;
              margin: 10px 0 15px 0;
            }
            .details>p{
              color: #a0a0a0;
              font-size: 15px;
              line-height: 30px;
              font-weight: 400;
            }
            .barra 
            {
              /* arriba-derecha-abajo-izquierda*/
            padding: 36px 80px 70px 24px;

            }
            .contenedor_texto
            {
              width: 543px;
              height: 298px;
              float:right;
            }
            .barra_p
            {
              margin-top:3.5%;
              color: #ffffff;
              font-size: 250%;
              line-height: 30px;
              font-weight: 400;
              text-align: right;
            }

            .p2
            {
              color: #a0a0a0;
              font-size: 100%;
              line-height: 30px;
              font-weight: 400;
              text-align: right;
            }
            .imagen
            {
            float: left;
            width:50%;
            height:120%;
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            }

/*footer*/

            @media (max-height:800px) {
                footer {
                    position: static;
                }

            }
            
            .footer-distributed {
                background-color: #24252a;
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                font: bold 16px sans-serif;
                padding: 50px 50px 60px 50px;
                margin-top: 80px;
            }
            
            .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
                display: inline-block;
                vertical-align: top;
            }
            
            /* Footer izquierda */
            
            .footer-distributed .footer-left {
                width: 30%;
            }
            
            .footer-distributed h3 {
                color: #e0ac1c;
                margin: 0;
            }
            
            
            .footer-distributed h3 span {
                color: #edf0f1;
            }
            
            /* Footer links */
            
            .footer-distributed .footer-links {
                color: #edf0f1;;
                margin: 20px 0 12px;
            }
            
            .footer-distributed .footer-links a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
            }
            
            .footer-distributed .footer-company-name {
                color: #8f9296;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }
            
            /* Footer Centro */
            
            .footer-distributed .footer-center {
                width: 35%;
            }
            
            .footer-distributed .footer-center i {
                background-color: #33383b;
                color: #edf0f1;
                font-size: 25px;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                text-align: center;
                line-height: 42px;
                margin: 10px 15px;
                vertical-align: middle;
            }
            
            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }
            
            .footer-distributed .footer-center p {
                display: inline-block;
                color: #edf0f1;
                vertical-align: middle;
                margin: 0;
            }
            
            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }
            
            .footer-distributed .footer-center p a {
                color: #0066BB;
                text-decoration: none;
                ;
            }
            
            /* Footer derecha */
            
            .footer-distributed .footer-right {
                width: 30%;
            }
            
            .footer-distributed .footer-company-about {
                line-height: 20px;
                color: #92999f;
                font-size: 13px;
                font-weight: normal;
                margin: 0;
            }
            
            .footer-distributed .footer-company-about span {
                display: block;
                color: #edf0f1;;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            
            .footer-distributed .footer-icons {
                margin-top: 25px;
            }
            
            .footer-distributed .footer-icons a {
                display: inline-block;
                width: 35px;
                height: 35px;
                cursor: pointer;
                background-color: #33383b;
                border-radius: 2px;
                font-size: 20px;
                color: #edf0f1;
                text-align: center;
                line-height: 35px;
                margin-right: 3px;
                margin-bottom: 5px;
            }
            
            .footer-distributed .footer-icons a:hover {
                background-color:#0066BB;
            }
            
            .footer-links a:hover {
              color: #0066BB;
            }
            
            @media (max-width: 880px) {
                .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
                    display: block;
                    width: 100%;
                    margin-bottom: 40px;
                    text-align: center;
                }
                .footer-distributed .footer-center i {
                    margin-left: 0;
                }
            }       
                    
